/* Colors
DARK PURPLE
MEDIUM PURPLE
OLIVE
*/



@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap');


html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
li,
aside,
footer,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f4fd;
}

h1,
h2,
h3 {
  font-family: 'Noto Sans', sans-serif;
	text-align: center;
}
h1 {
  font-size: 5em;
  font-weight: bold;
}
h2 {
  font-size: 3.75em;;
}
h3 {
  font-size: 1.75em;
}
h1,
h2,
h3 {
  color: #210964;
}
nav,
footer {
  background-color: #672df0;
  font-family: 'Dancing Script', cursive;
}
nav a {
  color: white;
  text-decoration: none;
}
img {
	display: block;
	margin: 0 auto;
}
.intro, 
.content {
	margin-left: 20px;
}

.content ul {
	list-style-type: none;
}

.content div + div {
	margin-top: 50px;
}

.coding {
	color: #d0c675;
	font-size: 20px;
	font-weight: bold;
	transition: color 1s, font-size 1s;
}

.meet li::first-letter {
	font-size: 150%;
  font-weight: 700;
}
.intro > button,
.cocktail > button {
	background-color: #9d81a2;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}